.desc {
  text-align: center;
  color: var(--Light-Grey);
  padding: 0 1rem;
  line-height: 1.6;
}

.ratingResult {
      color: var(--Orange);
    padding: 4px 10px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 3rem;
    letter-spacing: .5px;

}
